@font-face {
    font-family: "Roboto Mono";
    src: url(RobotoMono-Medium.ttf) format("truetype");
}

@media (prefers-color-scheme: light) {
    .icon-discord {
		content:url("/img/icons8/black/discord.svg");
	}
	.icon-github {
		content:url("/img/icons8/black/github.svg");
	}
	.icon-instagram {
		content:url("/img/icons8/black/instagram.svg");
	}
	.icon-mail {
		content:url("/img/icons8/black/mail.png");
	}
	.icon-twitter {
		content:url("/img/icons8/black/twitter.svg");
	}
	footer a {
		color: black;
	}
}

@media (prefers-color-scheme: dark) {
    .icon-discord {
		content:url("/img/icons8/white/discord.svg");
	}
	.icon-github {
		content:url("/img/icons8/white/github.svg");
	}
	.icon-instagram {
		content:url("/img/icons8/white/instagram.svg");
	}
	.icon-mail {
		content:url("/img/icons8/white/mail.png");
	}
	.icon-twitter {
		content:url("/img/icons8/white/twitter.svg");
	}
	footer a {
		color: white;
	}
}

:root {
    --background: white;
    --color: #232333;
	--font: "Roboto Mono", monospace;
}

body{
    background-color: var(--background);
    color: var(--color);
    font-family: var(--font);
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
}

.container {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    margin: 0;
}

footer{
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    padding-bottom: 20px;
}

#userPhoto{
    width: 128px;
    height: 128px;
    display: block;
    margin: 20px auto 10px;
    border-radius: 50%;
    border: solid var(--color) 2px;
}

#userName{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    line-height: 1.25;
    display: block;
    color: var(--color);
}

#links{
    max-width: 90%;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link{
    display: block;
    margin-bottom: 20px;
    padding-left: 	17px;
	padding-right: 	17px;
	padding-top: 	10px;
	padding-bottom: 10px;
    font-weight: 500;
    border-radius: 5px;
    border: dashed var(--color) 2px;
    text-decoration: none;  
    color: var(--color);  
    word-wrap: break-word;
}

.linkDiv {
	display:table;
	height: 2rem;
}

.linkDiv span {
	display:table-cell;
	vertical-align:middle;
	font-size: 1rem;
}

.linkDiv img {
	display:table-cell;
	vertical-align:middle;
	height: 2rem;
}

@media (prefers-color-scheme: dark) {
	:root {        
		--background: #202124;
		--color: white;
	}
}