@font-face {
    font-family: "Roboto Mono";
    font-display: swap;
    src: url("/fonts/RobotoMono-Medium.ttf") format("truetype");
}

@media (prefers-color-scheme: light) {
    .icon-discord {content: url("/img/icons8/black/discord.svg")}
	.icon-github {content: url("/img/icons8/black/github.svg")}
	.icon-instagram {content: url("/img/icons8/black/instagram.svg")}
	.icon-mail {content: url("/img/icons8/black/mail.webp")}
	.icon-twitter {content: url("/img/icons8/black/twitter.svg")}

    .icon-f-email {content: url("/img/icons8/black/folder-email.webp")}
    .icon-f-email.selected {content: url("/img/icons8/black/folder-email-sel.webp")}

    .icon-f-puzzle {content: url("/img/icons8/black/folder-puzzle.webp")}
    .icon-f-puzzle.selected {content: url("/img/icons8/black/folder-puzzle-sel.webp")}

    .icon-f-animal {content: url("/img/icons8/black/folder-animal.webp")}
    .icon-f-animal.selected {content: url("/img/icons8/black/folder-animal-sel.webp")}

    .icon-f-heart {content: url("/img/icons8/black/folder-heart.webp")}
    .icon-f-heart.selected {content: url("/img/icons8/black/folder-heart-sel.webp")}
    
    footer a {
		color: black;
	}
}

@media (prefers-color-scheme: dark) {
    .icon-discord {content: url("/img/icons8/white/discord.svg")}
	.icon-github {content: url("/img/icons8/white/github.svg")}
	.icon-instagram {content: url("/img/icons8/white/instagram.svg")}
	.icon-mail {content: url("/img/icons8/white/mail.webp")}
	.icon-twitter {content: url("/img/icons8/white/twitter.svg")}

    .icon-f-email {content: url("/img/icons8/white/folder-email.webp")}
    .icon-f-email.selected {content: url("/img/icons8/white/folder-email-sel.webp")}

    .icon-f-puzzle {content: url("/img/icons8/white/folder-puzzle.webp")}
    .icon-f-puzzle.selected {content: url("/img/icons8/white/folder-puzzle-sel.webp")}

    .icon-f-animal {content: url("/img/icons8/white/folder-animal.webp")}
    .icon-f-animal.selected {content: url("/img/icons8/white/folder-animal-sel.webp")}

    .icon-f-heart {content: url("/img/icons8/white/folder-heart.webp")}
    .icon-f-heart.selected {content: url("/img/icons8/white/folder-heart-sel.webp")}

    footer a {
		color: white;
	}
}

:root {
    --background: white;
    --color: #232333;
	--font: "Roboto Mono", monospace;
}

#about {
    text-align: center;
    margin: 0px;
    font-size: 1rem;
}

body {
    background-color: var(--background);
    color: var(--color);
    font-family: var(--font);
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
}

.container {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    margin: 0;
}

footer {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    padding-bottom: 20px;
}

#userPhoto {
    width: 128px;
    height: 128px;
    display: block;
    border-radius: 50%;
    margin-bottom: 2px;
    border: solid var(--color) 2px;
}

@media (orientation: landscape) {
	#userPhoto {
		margin-top: 20px auto 10px;
    }
}

@media (orientation: portrait) {
	#userPhoto {
		margin-top: 5px auto 5px;
	}
}

#userName {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    line-height: 1.25;
    display: block;
    color: var(--color);
}

#links {
    max-width: 90%;
    width: auto;
    display: block;
    margin: 15px auto;
}

.link {
    display: block;
    margin-bottom: 10px;
    padding-left: 	17px;
	padding-right: 	17px;
	padding-top: 	10px;
	padding-bottom: 10px;
    font-weight: 500;
    border-radius: 5px;
    border: dashed var(--color) 2px;
    text-decoration: none;  
    color: var(--color);  
    word-wrap: break-word;
}

.navButton {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: 5px;
    text-decoration: none;  
}

.navButton img {
    height: 100%;
}

.linkDiv {
	display: table;
	height: 2rem;
	border-spacing: 5px 0px;
}

.linkDiv span {
	display: table-cell;
	vertical-align: middle;
	font-size: 1rem;
}

.linkDiv img {
	display: table-cell;
	vertical-align: middle;
	height: 2rem;
    width: 2rem;
}

@media (prefers-color-scheme: dark) {
	:root {        
		--background: #202124;
		--color: white;
	}
}

.spin360 {
    -moz-transition: all 0.0s cubic-bezier(.27,-0.8,.27,1.55);
    -webkit-transition: all 0.0s cubic-bezier(.27,-0.8,.27,1.55);
    transition: all 0.0s cubic-bezier(.27,-0.8,.27,1.55);
}

.spin360.start{
    -ms-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
	
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.projectTypeTitle {
    margin: 0px;
    margin-bottom: 5px;
}